<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReactRouter" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <!-- Don't rewrite API calls - handle subdirectory properly -->
            <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/kw/api/" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/qrapp-api/" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/qrapp/" negate="true" />
            <!-- Don't rewrite static files -->
            <add input="{REQUEST_URI}" pattern="^/static/" negate="true" />
            <!-- Don't rewrite manifest and other assets -->
            <add input="{REQUEST_URI}" pattern="^/manifest.json" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/favicon.ico" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Set proper MIME types -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>
